/* ====== GALLERY SECTION ====== */

.gallery-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    gap: 1%;
    justify-content: center;
    animation: transition-is-none .8s ease-out;
    padding-bottom: 20rem;
}

.gallery-grid-wrapper>* {
    /* place-self: center; */
    /* Permet de pas stretch l'image et lui donner de taille */
    text-align: center;

}

.gallery-grid-wrapper>article>img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 0 5px 3px black;
}


.gallery-grid-wrapper>article>h3 {
    font-size: calc(0.8vw + 0.5em);
}

.main-menu-collapse-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 2rem;
    overflow: hidden;
}

.gallery-item {
    font-size: calc(0.8vw + 0.5em);
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: -12px 10px 10px 0px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: -12px 10px 10px 0px rgba(0, 0, 0, 0.71);
    box-shadow: -12px 10px 10px 0px rgba(0, 0, 0, 0.71);
}

.gallery-btn {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    background: rgb(143, 18, 18);

}

.gallery-btn i {
    margin-left: 1rem;
    margin-top: 5px;
}

.gallery-collapsed-menu {
    background: rgb(143, 18, 18);
    color: white;
    overflow: hidden;
    transition: max-height .3s;
    max-height: 0;
}

.gallery-collapsed-menu li {
    display: block;
    padding: 20px 15px;
    position: relative;
}

.gallery-collapsed-menu li:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    transition: .8s;
    opacity: 0;
}

.gallery-collapsed-menu li:hover:before {
    opacity: 1;

}

/* permet d'activé la propriété que quand les deux valeurs sont active */
.gallery-collapsed-menu.is-active {
    max-height: 10em;
    cursor: pointer;
}


@keyframes transition-is-none {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


/* ======== Media query ======= */
@media (max-width: 800px) {

    footer {
        display: none;
    }

    /* CSS mobile ici */
    .gallery-grid-wrapper article img {
        width: 100%;
    }

    .gallery-collapsed-menu li {
        padding: 13px 15px;
    }

    .navbar-wrapper-link>li a:hover {
        left: 0;
    }

    .gallery-grid-wrapper>article>h3 {
        font-size: calc(0.8vw + 1em);
        padding: 1rem 0;
    }

    .gallery-item {
        width: 50%;
        text-align: center;
        font-size: calc(1.8vw + 0.5em);
    }
}