.historique__wrapper {
    display: flex;
    width: 100%;
    height: 80vh;
}

.historique__blocImg--left {
    width: 50%;
    height: 100%;
}

.historique__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* permet une bonne redimension */
}

.historique__blocText--right {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    position: relative;
    background: whitesmoke;

}

.historique__blocText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    padding: 5rem 2rem;
    left: -50%;
    width: 70vw;
    height: auto;
    background: white;
    box-shadow: 2px 2px 50px rgba(201, 93, 93, 0.6),
        -2px -2px 50px rgba(201, 93, 93, 0.6);
}

.historique__title {
    color: rgb(143, 18, 18);
    font-size: calc(0.8vw + 0.8em);
    margin-bottom: 1rem;
}

.historique__text {
    color: #8A8E91;
    font-size: calc(0.5vw + 0.8em);
    margin-bottom: 1rem;
    line-height: 1.6;
}

.meni__wrapper {
    display: flex;
    max-width: 100%;
    margin: 1% 1%;
    padding: 2rem;
    background: whitesmoke;
    box-shadow: 6px 6px 16px rgba(0, 0, 0, .6),
    -6px -6px 16px #ffffff;
}

.meni {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    background: whitesmoke;
    line-height: 2;
}

.meni__title {
    color: rgb(143, 18, 18);
    font-size: calc(1em + 1vw);
}

.meni__text--para {
    color: #8A8E91;
    font-size: calc(0.7em + 0.7vw);
    margin-bottom: 2%;

}

.meni__image {}

.meni__image--img {}

@media (max-width: 800px) {

    .historique__wrapper {
        flex-direction: column;
        height: auto;
    }

    .historique__blocImg--left {
        /* width: 50%; */
        width: 100%;
    }

    .historique__blocText--right {
        /* width: 50%; */
        width: 100%;
    }

    .historique__blocText {
        /* position: absolute; */
        /* left: -50%; */
        /* width: 70vw; */
        position: relative;
        left: 0;
        width: 100%;
    }

    .meni__wrapper {
        margin-top: 10rem;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }
}