.instructeur__wrapper {
    max-width: 100%;
    padding: 25rem 0;
    background: black;
}

.instructeur__wrapper--center {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
}

.instructeur__article {
    position: relative;
    border-radius: 50%;
    width: 300px;
    height: 300px;

}

.instructeur__wrapperBlocImg {
    width: 100%;
    height: 100%;
    position: relative;
}

.instructeur__blocImg {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    transition: all .4s ease-out;
}

.circles-illu {
    position: absolute;
    top: 0;
    left: 0;
}

.circles-illu1 {
    position: absolute;
    top: 0;
    left: 0;
    animation: rotate 22s linear infinite;
}

.circles-illu2 {
    position: absolute;
    top: 0;
    left: 0;
    animation: rotate 44s linear infinite;
}

.instructeur__img {
    display: block;
    position: absolute;
    top: calc(50% - 42%);
    left: calc(50% - 42%);
    border-radius: 50%;
    width: 85%;
    height: 85%;
    object-fit: cover;
    /* object-position: 0 -8rem; */
}

/* reset proprio troisieme photo */
.instructeur__article:nth-child(3)>.instructeur__wrapperBlocImg>.instructeur__blocImg>img {
    object-position: 0 0;
}

.instructeur__article:nth-child(2) {
    transform: translateY(-15rem);
}

.instructeur__blocText {
    text-align: center;
    margin-top: 2rem;
    color: white;
    font-size: calc(0.8vw + 0.8em);
}

.instructeur__blocText>h3 {
    font-size: calc(0.8vw + 0.8em);
    color: rgb(143, 18, 18);
}

.instructeur__blocText>ul li {
    font-size: calc(0.5vw + 0.5em);
}


@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




/* ======== Media query ======= */
@media (max-width: 640px) {

    /* CSS mobile ici */
    .instructeur__wrapper--center {
        flex-direction: column;
        align-items: center;
    }

    .instructeur__wrapper {
        padding: 10rem 0;
    }


    .instructeur__article:nth-child(2) {
        transform: translateY(0rem);
    }

    .instructeur__article {
        margin-bottom: 100px;
    }

    .instructeur__blocText > ul li {

        font-size: calc(1vw + 1em);
    
    }

    .instructeur__blocText > h3 {

        font-size: calc(1vw + 1.2em);
}


/* ========= source de l'inspiration de l'animation et des images http://www.justine-mazure.fr/ ========== */