/* ============= navbar ========== */
:root {
    --main-color-icon: rgb(143, 18, 18);
}
.navbar {
    background: #353535;
}

.navbar-global-wrapper-ul {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    padding: 2rem 0;
}

.navbar-wrapper-link {
    display: flex;
    place-content: center;
    place-items: center;
}

.navbar-wrapper-link>* {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    background: whitesmoke;
    border-radius: 50%;
    margin: 0 13rem;
}

.navbar-wrapper-link>li::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #3D3D3D;
    opacity: 0.3;
    top: 25px;
    left: 25px;
    border-radius: 50%;
    z-index: 1;
}

.navbar-wrapper-link>li:hover::before {
    transition: .3s;
    opacity: 1;
}

.navbar-wrapper-link>li:hover i {
    /* permet de changer l'enfant i en survolant le parent */
    transition: .3s;
    color: white;
}


.navbar-wrapper-link>li>i {
    position: absolute;
    color: var(--main-color-icon);
    top: 35%;
    left: 37px;
    font-size: 3rem;
    z-index: 1;
}


.navbar-wrapper-link>li:nth-child(1)>i {
    left: 35px;
}

.navbar-wrapper-link>li:nth-child(2) i {
    left: 39px;
}

.navbar-wrapper-link>li::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    background: #747474;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    opacity: 0;
}

.navbar-wrapper-link>li:hover::after {
    transition: .3s;
    opacity: 1;
}

.navbar-wrapper-link>li a {
    display: block;
    /* par defaut a est en display inline du coup pour la taille > dblock */
    position: relative;
    /*obliger de le mettre en relative pour que le link soit au dessus des speudo elements pour clické */
    width: 100%;
    height: 125%;
    z-index: 2;
}

.navbar-wrapper-link>li a:hover {
    border-bottom: 2px solid white;
    margin-top: 10px;
    width: 70px;
    position: absolute;
    left: 2rem;
}

.navbar-wrapper-li {
    display: flex;
    width: 100%;
    height: 100%;
}

.navbar-wrapper-li>li {
    display: block;
    width: 25%;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.navbar-wrapper-li>li:nth-child(1) {
    padding-left: 34.5rem;
}

.navbar-wrapper-li>li:nth-child(2) {
    padding-left: 12rem;
}

.navbar-wrapper-li>li:nth-child(3) {
    padding-right: 10rem;
}

.navbar-wrapper-li>li:nth-last-child(1) {
    padding-right: 33rem;
}