/* ============= navbar ========== */
/* ======== MAJ FIX Grosse erreur lors de ma conceptualisation j'ai séparé les h3 gallery evenement etc du conteneur de l'image rond qui render la chose non responsiv ============*/
:root {
    --main-color-icon: rgb(143, 18, 18);
}

.navbar {
    background: #353535;
}

.navbar-global-wrapper-ul {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    padding: 4rem 0;
}

.navbar-wrapper-link {
    display: flex;
    place-content: space-around;
    place-items: center;
    width: 90%;

}

.navbar-wrapper-link>* {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    background: whitesmoke;
    border-radius: 50%;
    text-align: center;
    /* Nota bene NE JAMAIS USE DE MARGIN POUR ESPACER DES ELEMENTS ENTRE EUX OU
    USE EN % UNIQUEMENT THANKS FLEX 
    */
}

.navbar-wrapper-link>li::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    background: #3D3D3D;
    opacity: 0.3;
    top: 25%;
    left: 25%;
    border-radius: 50%;
    z-index: 1;
}

.navbar-wrapper-link>li:hover::before {
    transition: .3s;
    opacity: 1;
}

.navbar-wrapper-link>li:hover i {
    /* permet de changer l'enfant i en survolant le parent */
    transition: .3s;
    color: white;
}


.navbar-wrapper-link>li>i {
    position: absolute;
    width: 30%;
    color: var(--main-color-icon);
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
    /* je fais un calcul car 50% devrait centré mais il faut déduire de la moitié du font size */
    font-size: 3rem;
    z-index: 1;
}


.navbar-wrapper-link>li::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background: #747474;
    top: 5%;
    left: 5%;
    border-radius: 50%;
    opacity: 0;
}

.navbar-wrapper-link>li:hover::after {
    transition: .3s;
    opacity: 1;
}

.navbar-wrapper-link>li a {
    display: block;
    /* par defaut a est en display inline du coup pour la taille > dblock */
    position: relative;
    /*obliger de le mettre en relative pour que le link soit au dessus des speudo elements pour clické */
    width: 100%;
    height: 100%;
    z-index: 2;
}

.navbar-wrapper-link>li a:hover {
    border-bottom: 2px solid white;
    margin-top: 10px;
    width: 70px;
    left: 2rem;
}

.navbar-wrapper-link>li>h3 {
    color: #fff;
}